<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Microservice Traffic Simulator</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/requests.js}"></script>
    <script th:src="@{/js/websocket.js}"></script>
    <script th:src="@{/js/graph.js}"></script>
    <script th:src="@{/js/information.js}"></script>
</head>

<body>
    <div id="info">

    </div>
   <script>

        //$("#info").html("[" + webSocket6.data.roundTrips[0]+"]");
    </script>
</body>
</html>